{% extends 'shop/basic.html' %}

{% block title %}
CheckOut - CMcart
{% endblock %}

{% block css %}

{% endblock %}


{% block body %}

<div class="container">
    <div class="row my-5">
        <div class="col-md-10 col-sm-12">
            <h2 id="step1" style="width:70%;"> Step: 1. Check Your Items in CMcart.. </h2>
        </div>
        <div class="col-md-2 col-sm-12">
            <a href="#step2"><button class="btn btn-dark">Next..</button></a>
        </div>
    </div>

    <div class=" my-5 container-fluid align-items-center">
        <table border="0">
            <tr style=" border-bottom: 2px solid gray;">
                <th style="width: 250px;  border-right : 2px solid gray;"> Image</th>
                <th style="width: 400px; border-right : 2px solid gray;"> Name</th>
                <th style="width: 150px; border-right : 2px solid gray;"> Prize</th>
                <th style="width: 70px; border-right : 2px solid gray;"> </th>
                <th style="width: 130px; border-right : 2px solid gray;"> Qty.</th>
                <th style="width: 70px; border-right : 2px solid gray;"> </th>
                <th style="width: 70px; border-right : 2px solid gray;"> </th>
                <th style="width: 200px;  "> total cost</th>
            </tr>

            {% for i in items %}
            <tr id="pr{{i.5}}" style="height: 200px; border-bottom: 2px solid gray;">
                <td> <img width:100 src="/media/{{i.0}}" alt="{{i.1}}"> </td>
                <td style="">{{i.1}}</td>
                <td style="">{{i.2}}</td>
                <td style=""><button id="pluspr{{i.5}}" class="btn btn-primary plus" > + </button></td>
                <td style="" > <div id="displaypr{{i.5}}">{{i.3}}</div>   </td>
                <td style=""><button id="minuspr{{i.5}}" class="btn btn-warning minus"> - </button></td>
                <td  style=""><button id="deletepr{{i.5}}" class="btn btn-danger delete"> X </button> </td>
                <td style="">{{i.4}}</td>
            </tr>
            {% endfor %}

        </table>
    </div>


    <div class="row my-5">
        <div class="col-md-10 col-sm-12">
            <h2 id="step2" style="width:70%;"> Step: 2. Select the delevery Address </h2>
        </div>
        <div class="col-md-2 col-sm-12">
            <button class="btn btn-dark">Next..</button>
        </div>
    </div>


    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>India</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

</div>

{% endblock %}


{% block js %}
<script>
function init(){
    if(localStorage.getItem('cart') == null){
        cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    $('.plus').click(function(){
        id = (this.id).slice(4,);
        cart[id] += 1;
        updateCart();
        console.log('#display'+id);
        document.getElementById('display'+ id).innerHTML = cart[id];
    });

    $('.minus').click(function(){
        id = (this.id).slice(5,);
        cart[id] -= 1;
        if(cart[id] <= 0) {
            delete cart[ id ];
            $('#'+id).remove();
        }else{
            document.getElementById('display'+ id).innerHTML = cart[id];
        }
        updateCart();
    });

    $('.delete').click(function() {
        id = (this.id).slice(6,);
        delete cart[id];
        updateCart();
        $('#'+ id).remove();
    });
}

function updateCart(){
    localStorage.setItem('cart' , JSON.stringify(cart));
}

init();
</script>
{% endblock %}