{% extends 'shop/basic.html' %}

{% block title %}
CheckOut - CMcart
{% endblock %}

{% block css %}

{% endblock %}


{% block body %}

<div class="container">
    <div class="row my-5">
        <div class="col-md-10 col-sm-12">
            <h2 id="step1" style="width:70%;"> Step: 1. Check Your Items in CMcart.. </h2>
        </div>
        <div class="col-md-2 col-sm-12">
            <a href="#step2"><button class="btn btn-dark">Next..</button></a>
        </div>
    </div>

    <div class=" my-5 container-fluid align-items-center">
        {% if not cart  %}
        <table border="0">
            <tr style=" border-bottom: 2px solid gray;">
                <th style="width: 250px;  border-right : 2px solid gray;"> Image</th>
                <th style="width: 400px; border-right : 2px solid gray;"> Name</th>
                <th style="width: 150px; border-right : 2px solid gray;"> Prize</th>
                <th style="width: 70px; border-right : 2px solid gray;"> </th>
                <th style="width: 130px; border-right : 2px solid gray;"> Qty.</th>
                <th style="width: 70px; border-right : 2px solid gray;"> </th>
                <th style="width: 70px; border-right : 2px solid gray;"> </th>
                <th style="width: 200px;  "> total cost</th>
            </tr>

            {% for i in items %}
            <tr id="pr{{i.5}}" style="height: 200px; border-bottom: 2px solid gray;">
                <td> <img width:100 src="/media/{{i.0}}" alt="{{i.1}}"> </td>
                <td style="">{{i.1}}</td>
                <td style=" "id="rspr{{i.5}}">{{i.2}}</td>
                <td style=""><button id="pluspr{{i.5}}" class="btn btn-primary plus" > + </button></td>
                <td style="" > <div id="displaypr{{i.5}}">{{i.3}}</div>   </td>
                <td style=""><button id="minuspr{{i.5}}" class="btn btn-warning minus"> - </button></td>
                <td  style=""><button id="deletepr{{i.5}}" class="btn btn-danger delete"> X </button> </td>
                <td id="ptpr{{i.5}}" style="">{{i.4}}</td>
            </tr>
            {% endfor %}
            
        </table>
            <div class="my-2 mx-3" style="position: relative;">
                <span style="position: absolute; left: 2px;"><b>Payable Cost </b></span>
                <span> </span><span  style="position: absolute; right: 2px;"><b> <span id="totalcount">30000</span><span> /- only</span>   </b></span>
            </div>
        
        {% else %}
        <h6>There is No items in cart goto <a href="/shop">HOME</a> page and add some item</h6>
        {% endif %}
    </div>


    <div class="row my-5">
        <div class="mt-5 col-md-10 col-sm-12">
            <h2 id="step2" style="width:70%;"> Step: 2. Select the delevery Address </h2>
        </div>
    </div>


    <form action="/shop/payment/" method ="POST"> {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" name="email" required id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Full Name</label>
                <input type="text" class="form-control" required name="name" id="inputPassword4">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" required name="add1" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control"  name="add2" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" required name="city" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" name="state" required class="form-control">
                    <option selected>India</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" name="zip_code" class="form-control" required id="inputZip">
            </div>
        </div>
        <input type="hidden" id="itms" name="items">
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" required id="gridCheck">
                <label class="form-check-label" for="gridCheck"  >
                    Check me out
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">delver to This address.</button>
    </form>
    <div class="my-5"></div>
</div>

{% endblock %}


{% block js %}
function init(){
    totalcount();
    document.getElementById('itms').setAttribute('value',JSON.stringify(cart));
    $('.plus').click(function(){
        id = (this.id).slice(4,);
        document.getElementById('pt'+id).innerHTML = parseInt(document.getElementById('pt'+id).innerHTML) + parseInt(document.getElementById('rs'+id).innerHTML);
        cart[id] += 1;
        updateCart();
        console.log('#display'+id);
        document.getElementById('display'+ id).innerHTML = cart[id];
    });

    $('.minus').click(function(){
        id = (this.id).slice(5,);
        document.getElementById('pt'+id).innerHTML = parseInt(document.getElementById('pt'+id).innerHTML) - parseInt(document.getElementById('rs'+id).innerHTML);
        cart[id] -= 1;
        if(cart[id] <= 0) {
            delete cart[ id ];
            $('#'+id).remove();
        }else{
            document.getElementById('display'+ id).innerHTML = cart[id];
        }
        updateCart();
    });

    $('.delete').click(function() {
        id = (this.id).slice(6,);
        delete cart[id];
        $('#'+ id).remove();
        updateCart();
    });
}
function updateCart(){
    updatecounter();
    totalcount();
    localStorage.setItem('cart' , JSON.stringify(cart));
}

function totalcount(){
    var sum = 0;
    for(var i in cart)
    {
        var strid = 'pt' + i;
        sum += parseInt(document.getElementById(strid).innerHTML);
    }
    document.getElementById('totalcount').innerHTML = sum;
}
init();
{% endblock %}