{% extends "shop/basic.html"  %}
{% block title %} {{product.product_name}} - CMcart{% endblock %}


{% block css %}

.col-md-3
{
display: inline-block;
margin-left:-4px;
}
.card-text{
    height: 50px;
    overflow: hidden;
}
.carousel-indicators .active {
background-color: blue;
}
.col-md-3 img{
width:auto;
height:240px;
}
body .carousel-indicator li{
background-color: blue;
}
body .carousel-indicators{
bottom: 0;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}

.carousel-control-next,
.carousel-control-prev{
    top: auto;
    bottom:auto;
    margin-top: 222px;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}
#prodImg{
    width: 350px;
}




{% endblock %}


{% block body %}

<div class="container-fluid">

    <div class="row  mx-5 my-5 ">
        <div class="col-md-4" >
            <img src="/media/{{product.product_image}}" id="prodImg" />
        </div>
        <div class="col-md-8" >
            <div class="row my-2 mx-5">
                <h2>{{product.product_name|title}}</h2>
            </div>
            <div class="row my-2 mx-5 ">
                <h4><b>RS. {{product.product_prize}}/- only</b></h4>
            </div>
            <div class="row  mx-5 ">
                <p><b>Rating : </b>{{product.product_rating}}%</p>
            </div>
            <div class="row my-2 mx-5 ">
                <button class="btn btn-info btn-danger cart  ">  Add To Cart  </button>
                <a href="/shop/checkout/{{product.id}}"><button class="btn btn-success mx-3">  Buy Now  </button></a>
            </div>
            <div class="row my-2 mx-5 my-1">
                <p><b>Discription : </b>{{product.product_disc}}</p>
            </div>
        </div>

    </div>

</div>
<h1 class="mx-5 my-5">Find Similer Items</h1>
<!-- new items  -->
<div class="container">

        {% for product , range , n_side in simiprod %}
            <!--Slideshow starts here -->
        <h4 calss="my-4"> flash sale on {{ product.0.product_category }} - recommanded for you </h4>
        <div CLass="row">
        <div id="demo{{ forloop.counter }}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo{{ forloop.counter }}" data-slide-to="0" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{ forloop.perentloop.counter }}" data-slide-to="{{i}}"></li>
                {% endfor %}
            </ul>
            <div class="carousel-item active">
                {% for i in product %}
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src='/media/{{ i.product_image }}' class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">{{i.product_name}}</h6>
                            <p class="card-text">{{ i.product_disc }}</p>
                            <button id="pr{{i.id}}" class="btn btn-primary cart">Add to cart</button>
                            <a href="/shop/product/{{ i.id }}"> <button id="qv{{i.id}}" class="btn btn-primary">Quick View</button></a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
            </div>
            <div class="carousel-item">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    
    
            
            <!-- left and right controls for the slide -->
            <a class="carousel-control-prev" href="#demo{{ forloop.counter }}" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo{{ forloop.counter }}" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        {% endfor %}
    </div>

{% endblock %}
{% block js %}
<script>
    var cart;
    var cartpop = document.getElementById('cartpop');
    // console.log(Object);

    function init()
    {
        if(localStorage.getItem('cart') == null){
            cart = {};
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
            document.getElementById('cart_counter').innerHTML = Object.keys(cart).length;
        }
        
        $(".cart").click(function() {
            strid = this.id.toString();
            if( cart[strid] == undefined){
                cart[strid] = 1;
            } else {
                cart[strid] += 1;
            }
            localStorage.setItem('cart' , JSON.stringify(cart));
            document.getElementById('cart_counter').innerHTML = Object.keys(cart).length;
        });


    }

    function clearcart(){
        localStorage.setItem('cart', JSON.stringify({}));
        cart = {};
        document.getElementById('cart_counter').innerHTML = Object.keys(cart).length;
    }

    init();

</script>
{% endblock %}
